
/* 
    Author     : Victor Reyes
victor@inblackbird.com
*/

html {
  position: relative;
  min-height: 100%;
 
}

body{
    background: url(../img/back/img_back_black.svg) center center no-repeat fixed, url(../img/back/mainback.jpg) center center no-repeat fixed;
   background-size: cover;
  //  margin: 0px;
  //  padding-bottom:45px;
  //  margin-bottom: 45px;
   //  width: 100%;
   line-height:1.12;
}

.menu_main_redrock{

  position: static;
  top: 0%;
  transform: translateY(0%);
  width: 100%;
   margin: 0px;
 // padding: 0px;
}


.menu_main_redrock .imagine{
  //  float: none;
      width: 100%;

}

.menu_main_redrock svg{
 width: 100%;
 
}

.rr_box_01{
    padding: 20px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
 display: flex;
 justify-content: center;
 align-items: center;
 width: 90%;
 height: 300px;
 background-color: rgba(0, 0, 0, 0.8);
 color: #fff;
 overflow: hidden;
}


#menumain :hover { 
  cursor: all-scroll; 
}


.navbar{
    background-color: rgba(0, 0, 0, 0.0);
 
 border-width: 0px;
    border-radius: 0px;
    margin-bottom: 0px;
    
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    margin: 0px;
}

.navbar .navbar-collapse {
    text-align: center;
}


#menuback{
  
    background-color: rgba(0, 0, 0, 0.6);
     height: auto;
     border: red solid thin  !important;
}

.branded{
    text-align: center;
    width: 50%;
     float: left;
     border-right: white thin solid;
     margin-top: 1%;
  
}

.branded img{
    width:90%;
   padding-right: 80px;
 
}

.navbar-nav li a{
    height: 70px;
    width: 100%;
   padding-top: 25px;
    color: rgb(255, 255, 255) !important;
}

.nav>li>a:focus, .nav>li>a:hover{
   color: rgb(255, 0, 0) !important;
  // text-decoration: underline;
border-bottom: red thin solid;
    background-color: rgba(0, 0, 0, 0.6)  !important;
}






/*end basics*/


/*more*/

.rr_box_01 span{
    width: 100%;
   float: left;
   text-align: center;
}

.rr_box_01 img{
    margin-left: auto;
    margin-right: auto;
   width: 70%;
}

.rr_box_01 p{
    text-align: left;
      width: 100%;
}


.rr_box_01  .promoimg{
    width: 90%;
    height:auto ;
    
}



/* -----------------------  */

.rr_box_02{
    padding: 20px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
 //display: flex;
 justify-content: center;
 align-items: center;
 width: 98%;
 //height: auto;
 //padding-bottom: 10px;
 background-color: rgba(0, 0, 0, 0.8);
 color: #fff;
}





/*
Elements 
*/



.eventbox01{
    border: red thin solid;
    float: left;
    width: 98%;
    padding: 10px;
    margin: 20px;
   
}

.event_star{
    float: right;
    width: 100%;
}



.event_star .estrellita{
    position: relative;
   top:-35px;
   right: -40px;
    float: right;
    width: 60px;
}

.event_title{
    font-size: 1.5em;
    font-weight: bold;
    float: right;
    width: 100%;
    text-align: right;
}

.event_date{
    font-size: 1em;
    margin-top: 5px;
     float: right;
    width: 100%;
    text-align: right;
}



.beerbox01{
    border: red thin solid;
    //float: left;
    width: 70%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    
}

.beer_img{
    width: 100%;
     float: left;
     text-align: center;
}

.beer_img img{
    border: red thin solid;
    margin-left: auto;
    margin-right: auto;
   margin-top: 10px;
    margin-bottom: 10px;
    width: 130px;
}
.beer_title{
    font-size: 1.5em;
    font-weight: bold;
    float: left;
    width: 100%;
    padding-left: 10px;
}

.beer_info_q{
     padding-left: 10px;
}

.beer_info_h{
     padding-left: 10px;
}

.beer_brw{
     float: left;
    width: 100%;
     padding-left: 10px;
}







/*buttons*/


.buttonbox01{
    border: red thin solid;
    float: left;
    width: 98%;
    padding: 10px;
    margin: 20px;
   
}

.button_star{
    float: right;
    width: 100%;
    height: 25px;
}



.button_star .estrellita{
    position: relative;
   top:-35px;
   right: -40px;
    float: right;
    width: 60px;
}

.button_title{
    font-size: 1.5em;
    font-weight: bold;
    float: right;
    width: 100%;
    text-align: right;
}

.button_action{
    font-size: 1em;
    margin-top: 5px;
     float: right;
    width: 100%;
    text-align: right;
}









.footer {
    
 position: static;
  bottom: 0px;
  width: 100%;
  
  height: auto;
    margin-bottom: 0px;
    padding-bottom: 0px;
  margin-top: 20px;

    background-color: rgba(0, 0, 0, 0.6)  !important;
}

.footcenter{
    margin-top: 5px;
    text-align: center;
}

.adressphone{
  //margin-left: auto;
 // margin-right: auto;
  //min-width: 400px;
  //  line-height:0px; 
  // margin-top: -0.3%;
   // text-align: center;
    color: #fff;
    
}
.adressphone p{
  //margin-left: auto;
 // margin-right: auto;
  //min-width: 400px;
  //  line-height:0px; 
  // margin-top: -0.3%;
   // text-align: center;
    margin: 0px;
    
}


.footbut{
    background-color: rgba(0, 0, 0, 0.6)  !important;
    float: right;
 //  position: absolute;
   right: 0px;
 //bottom: 15px;
 //  z-index: 30;
   width: 100%;
   text-align: center;
   
} 

.footbut a{
    margin-left: 20px;
    color: rgba(255, 20, 20, 1) ;
}

.rr_box_02 h3{
    color: rgba(255, 20, 20, 1) ;
    font-size: 16px;
    font-weight: bold;
}


/*general form*/

.rounded3 iframe{
    border: red thin solid !important;
}

h4 {
    padding-top: 10px;
}




/* ---------------------------------------------------*/
/* ---------------------------------------------------*/
/* ---------------------------------------------------*/
/* ---------------------------------------------------*/



	/* Custom, iPhone Retina */
	@media only screen and (min-width : 320px){
  .branded img{
   padding-right: 0px;
  
}
.branded{
   //text-align: center;
    width: 70%;
     float: left;
     border-right: white 0 solid;
     margin-left: 5%;
  
}



	}
 
	/* Extra Small Devices, Phones */
	@media only screen and (min-width : 480px){
  .branded img{
   padding-right: 0px;
  
}
.branded{
    text-align: center;
    width: 40%;
     float: left;
     border-right: white 0 solid;
     margin-left: 2%;
  
}


	}
 
	/* Small Devices, Tablets */
	@media only screen and (min-width : 768px){
  .branded img{
   padding-right: 0px;
   border-right: white 0 solid;
}

.branded{
    text-align: center;
    width: 70%;
     float: none;
     border-right: white 0 solid;
     margin-top: 2%;
     margin-left: auto;
     margin-right: auto;
  
}



.rr_box_01 span{
    width: 100%;
   float: none;
   text-align: center;
   display: block;
}







	}
 
	/* Medium Devices, Desktops */
	@media only screen and (min-width : 800px){
.branded{
    text-align: center;
    width: 50%;
     float: none;
     border-right: white 0 solid;
     margin-top: 5%;
   margin-left: auto;
     margin-right: auto;
}

.branded img{
    width:100%;
   padding: 0px;
 
}

.footbut{
    float: right;
   position: absolute;
   right: 0px;
   bottom: 10px;
   z-index: 30;
   width: 200px;
   
}

.footer {
    
 position: absolute;
  bottom: 0px;
  width: 100%;
  
  height: auto;
    margin-bottom: 0px;
    padding-bottom: 0px;
  margin-top: 20px;

    background-color: rgba(0, 0, 0, 0.6)  !important;
}

	}
 
	/* Large Devices, Wide Screens */
	@media only screen and (min-width : 900px){
 .branded{
    text-align: center;
    width: 70%;
     float: none;
     border-right: white 0 solid;
     margin-top: 5%;
   margin-left: auto;
     margin-right: auto;
  
}

.branded img{
    width:90%;
   padding-right: 20px;
 
}

.rounded3 iframe{
    width: 500px;
}


	}
        
        	/* Large Devices, Wide Screens */
	@media only screen and (min-width : 1200px){
 .branded{
   // text-align: center;
    width: 50%;
     float: left;
     border-right: white thin solid;
     margin-top:3%;
  
}

.branded img{
    width:90%;
   padding-right: 20px;
 
}





	}
        
        /* Large Devices, Wide Screens */
	@media only screen and (min-width : 1400px){
 .branded{
   // text-align: center;
    width: 40%;
     float: left;
     border-right: white thin solid;
     margin-top:2.5%;
  
}

.branded img{
    width:90%;
   padding-right: 50px;
 
}
	}
        
        